$primary-color: #db7093;
$primary-color--hover: rgba(219, 112, 147, 0.75);
$primary-color--pale: rgba(252, 232, 229, 0.501961);
$primary-color--selected: #fce8e5;
$error-color: rgba(255, 47, 47, 1);
$base-text-color: #1e1e1e;
$gray-color: rgba(153, 153, 153, 1);
$gray-color--light: #eaeaea;
$gray-color--medium: #efefef;
$box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
