$primary-color: #db7093;
$primary-color-hover: rgb(219 112 147 / 75%);
$primary-color-pale: rgb(252 232 229 / 50.2%);
$primary-color-selected: #fce8e5;
$error-color: rgb(255 47 47 / 100%);
$base-text-color: #1e1e1e;
$gray-color: rgb(153 153 153 / 100%);
$gray-color-light: #eaeaea;
$gray-color-medium: #efefef;
$on-surface: hsl(0deg 0% 0% / 16%);
$box-shadow: 0 0 6px rgb(0 0 0 / 14%);
