@use "../../styles/_variables.scss" as vars;

.chats-list {
    &__container {
        width: 310px;
        min-width: 310px;
        height: 100%;
        background-color: #fbfbfb;
        padding: 21px 10px 0;
    }

    &__profile-link {
        display: block;
        color: vars.$gray-color;
        font-size: 12px;
        line-height: 12px;
        font-family: Inter, sans-serif;
        margin-left: auto;
        text-align: right;
        margin-bottom: 23px;
    }

    &__persons-container {
        height: calc(100vh - 104px);
        overflow: hidden;
        overflow-y: auto;
    }

    &__persons-container::-webkit-scrollbar {
        width: 3px;
    }

    &__persons-container::-webkit-scrollbar-thumb {
        background-color: rgb(219 112 147 / 50%);
    }

    &__persons-container::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.profile-link__image {
    margin-left: 4px;
}
