@use "../../styles/_variables.scss" as vars;

.avatar {
    background-color: vars.$gray-color-medium;
    border-radius: 50%;
    position: relative;
    border: 1px solid vars.$gray-color-light;
}

.avatar-active:hover::after {
    content: "Выбрать";
    top: 0;
    color: vars.$gray-color-light;
    position: absolute;
    text-align: center;
    padding-top: 40%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: vars.$on-surface;
}

.avatar-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-input {
    width: 0;
    height: 0;
}
